<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mentor Finder</title>
    <link rel="stylesheet" href="../public/main.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-green-300">
    
</body>
<script>
//     function showAlert() {

// {
//     alert("You have been Registered Successfully!");
// }
// }
    window.addEventListener('load', () =>{
        alert("You have been Registered Successfully!");
        window.location.href="http://localhost:3000/expertise";
    });
</script>
</html>