<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form  action="/details" method="post">
      <input type="text" name="skills" value="">
      <input type="text" name="project1" value="">
      <input type="text" name="project2" value="">
      <button type="submit" name="button"></button>
    </form>
  </body>
</html>
