#section1 {
    height: 92vh/* 384px */;
}
.h-97{
    height: 92vh/* 384px */;
}
.w-98{
    width: 35rem;
}
.w-95{
    width: 25rem;
}
.mb--2{
    margin-bottom: -2rem;
}
*:focus {
    outline: none;
}
